#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-size: cover;
}

.container {
  text-align: center;
}
h1 {
  font-size: 60px;
  padding: 15px;
  position: relative;
  bottom: 35px;
  font-family: "Press Start 2P", cursive;
  border-radius: 30px;
  text-shadow: 2px 5px 15px blueviolet;
  animation: fadeAndScale 2s ease-out;
}
@keyframes fadeAndScale {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.refresh__button {
  display: inline-block;
  cursor: pointer;
  font-size: 50px;
  background: none;
  border: none;
}
.refresh__icon {
  filter: drop-shadow(0px 0px 5px violet);
}
.refresh__button:hover .refresh__icon {
  animation: bounce 0.8s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
    margin: 10px;
    bottom: 100px;
  }

  .refresh__button {
    font-size: 30px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
